<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BASE_URL" value="https://www.botanistii.ro"/>
    <add key="PLANT_FOLDER" value="Storage\Plants\"/>
    <add key="PRODUCT_SMALL_FOLDER" value="Storage\Products\Logo"/>
    <add key="PRODUCT_HUGE_FOLDER" value="Storage\Products\Poster"/>
  </appSettings>
</configuration>